<launch>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>

  <include file="$(find pools)/launch/complete_course_flat.launch">
    <arg name="paused" value="false"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <include file="$(find controls)/launch/send_viso_tf2.launch" />
  <include file="$(find controls)/launch/mavlink_publisher.launch" />
  <include file="$(find controls)/launch/controller.launch" />

  <!-- Launching faux detector -->
	<arg name="model_file" default="$(find faux_detection)/trained_models/mobilenet-sep20.pb" />
	<arg name="label_file" default="$(find faux_detection)/trained_models/mobilenet-sep20.pbtxt" />
  <include file="$(find faux_detection)/launch/faux_detector.launch">
    <arg name="model_file" value="$(arg model_file)" />
    <arg name="label_file" value="$(arg label_file)" />
    <arg name="min_score_thresh" value="0.4"/>
  </include>

  <node type="rviz" pkg="rviz" name="rviz" args="-d $(find avoid_obstacles)/rviz/view_trajectory.rviz"/>
  <!-- include file="$(find )/launch/.launch" />

  <node name="publish_world_models"
        pkg="uuv_assistants"
        type="publish_world_models.py"
        output="screen">
        <rosparam subst_value="true">
            meshes:
                pool_v2:
                    mesh: package://pools/meshes/pool_v2.dae
                    pose:
                      position: [0, 0, 0]
                    scale: [1, 1, 1]
        </rosparam>
  </node -->
</launch>
