[submodule "simulations/src/bluerov2"]
	path = simulations/src/bluerov2
	url = https://github.com/nyuad-robosub/bluerov2
	branch = development
[submodule "simulations/src/realsense-ros"]
	path = simulations/src/realsense-ros
	url = https://github.com/nyuad-robosub/realsense-ros
	branch = development-gazebo
[submodule "simulations/src/realsense_gazebo_plugin"]
	path = simulations/src/realsense_gazebo_plugin
	url = https://github.com/nyuad-robosub/realsense_gazebo_plugin
	branch = melodic-devel
[submodule "src/deps/perception_pcl"]
	path = src/deps/perception_pcl
	url = https://github.com/ros-perception/perception_pcl
	branch = melodic-devel
