[submodule "src/deps/perception_pcl"]
	path = src/deps/perception_pcl
	url = https://github.com/ros-perception/perception_pcl
	branch = melodic-devel
[submodule "src/deps/Pangolin"]
	path = src/deps/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/nyuad-robosub/realsense-ros
[submodule "include/ORB_SLAM3"]
	path = include/ORB_SLAM3
	url = https://github.com/nyuad-robosub/ORB_SLAM3
[submodule "src/deps/opencv"]
	path = src/deps/opencv
	url = https://github.com/opencv/opencv
[submodule "src/deps/Sophus"]
	path = src/deps/Sophus
	url = https://github.com/strasdat/Sophus
