<?xml version="1.0"?>
<model>
  <name>Qualification Gate</name>
  <version>2.0</version>
  <sdf version="1.5">qual_gate_no_middle.sdf</sdf>

  <author>
    <name>Julio Z., Sherifa Y., Jasir Z., Quan N. Rami R.</name>
    <email>nyuad.robosub@nyu.edu</email>
  </author>

  <description>
    A nice gate.
  </description>

</model>