<?xml version="1.0"?>
<model>
  <name>Complete RoboSub props</name>
  <version>2.0</version>
  <sdf version="1.5">complete_props_flat.sdf</sdf>

  <author>
    <name>Quan N, Jasir Z, Julio Z, Sherifa Y</name>
    <email>nyuad.robosub@nyu.edu</email>
  </author>

  <description>
    A nice pool.
  </description>

</model>